<div class="container">

    <mat-card *ngFor="let article of articles; index as cont;" class="card-article">
        <!-- header -->
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{article.name}}</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>

        <!-- content -->
        <mat-card-content>
            <p>Precio: s/. {{article.unitPrice}}</p>
            <p>Disponibles: {{article.quantity}}</p>

            <form (ngSubmit)="pagar(article.id, article.quantity, cont)" novalidate #f="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" name="quantity" [(ngModel)]="quantities[cont]"
                        placeholder="Digite la cantidad..." required>
                </div>
                <button class="btn btn-outline-success btn-block btn-pay" [disabled]="!f.valid">Pagar</button>
            </form>
        </mat-card-content>
    </mat-card>

</div>