<div class="container">

    <mat-card *ngFor="let receivable of receivables;" class="card-receivable">
        <!-- header -->
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title *ngFor="let article of receivable.articles;">
                {{article.quantity}} unidades de {{article.name}} : s/. {{article.subtotal}}
            </mat-card-title>
            <mat-card-subtitle>{{receivable.client.name}}</mat-card-subtitle>
            <mat-card-subtitle>Código de la orden: {{receivable.orderId}}</mat-card-subtitle>
            <mat-card-subtitle>Fecha de entrega: {{receivable.paymentDate}}</mat-card-subtitle>
        </mat-card-header>

        <!-- content -->
        <mat-card-content>
            <mat-card-subtitle>IGV: s/. {{receivable.totalIgv}}</mat-card-subtitle>
            <mat-card-subtitle>Total: s/. {{receivable.totalInvoice}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>

</div>
