
<div class="limiter">
    <div class="row ">
        <div class="d-none d-sm-none d-md-block col-md-8">
                <img src="../../../assets/images/img1.jpg" style="width: 100%; height: 100%;">
                <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="../../../assets/img1.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="../../../assets/img.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </a>
                  </div> -->
        </div>
        <div class="col-md-4 col-xs-12" style="background: rgb(186, 225, 247);">
            <div class="form-group">
                <div class="row">
                    
                        <div class="col-md-12 py-3">
                            <img  src="../../../assets/images/logo.png" style="padding: 0% 10%; margin-left: 14%; width: 70%;">
                        </div>
                        <div class="col-md-12 text-center">
                            <h1 style="font-size: 2.7hw;">FISI LIBRARY</h1>
                        </div>             
                        <div>
                            <div>
                              <div>Ruc</div>
                              <input 
                                  [(ngModel)] = "client.ruc" 
                                  type="text" 
                                  placeholder="Enter your ruc" 
                                  id="txtRuc">
                            </div>
                            <br>
                            <div>
                              <div>Name</div>
                              <input 
                                  [(ngModel)] = "client.name" 
                                  type="text" 
                                  placeholder="Enter your name"
                                  id="txtName">
                            </div>
                            <br>                            
                            <div class="col-md-12 text-center">
                                <button (click) = "login()" >Enter</button>                                
                            </div>
                            <br>
                        </div>
                  
                </div> 
            </div>
        </div>
    </div>
</div>