
<div class="limiter">
    <div class="row ">
        <div class="d-none d-sm-none d-md-block col-md-8">
                <img src="../../../assets/images/img1.jpg" style="width: 100%; height: 100%;">
        </div>
        <div class="col-md-4 col-xs-12" style="background: rgb(221, 219, 207);">
            <div class="form-group">
                <div class="row">
                    
                        <div class="col-md-12 py-3">
                            <img  src="../../../assets/images/logo.png" style="padding: 0% 10%; margin-left: 14%; width: 70%;">
                        </div>
                        <div class="col-md-12 text-center">
                            <h1 style="font-size: 2.7hw;">FISI LIBRARY</h1>
                        </div>             
                        <div>
                            <div>
                              <div>RUC</div>
                              <input 
                                  [(ngModel)] = "client.ruc" 
                                  type="text" 
                                  placeholder="Ingresa tu RUC" 
                                  id="txtRuc">
                            </div>
                            <br>
                            <div>
                              <div>Nombre</div>
                              <input 
                                  [(ngModel)] = "client.name" 
                                  type="text" 
                                  placeholder="Ingresa tu nombre"
                                  id="txtName">
                            </div>
                            <br>                            
                            <div class="col-md-12 text-center">
                                <button (click) = "login()" >Ingresar</button>                                
                            </div>
                            <br>
                        </div>
                  
                </div> 
            </div>
        </div>
    </div>
</div>